.marquee-container{
    width:100%;
    overflow:hidden;
    white-space:nowrap;
    padding:10px 0;
}

.marquee-text{
    display:inline-block;
    color:#fff;
    font-size:14px;
    font-weight:600;
    animation:marquee 15s linear infinite;
}

@keyframes marquee{

    0%{
        transform:translateX(100%);
    }

    100%{
        transform:translateX(-100%);
    }

}